:root {
  --color-primary: #e58f00;
  --color-secondary: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  /* color: var(--color-secondary); */
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 3rem;
  outline: 0;
  padding: 1rem 3.7rem;
  white-space: nowrap;
}

.btn:hover {
  background: #d38200;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 320px) {
  .grid--1x2x3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--1x2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
}

/* navBar */

.navBar {
  /* background-color: #000; */
  padding: 1rem 0;
  line-height: 2;
}

.navBar .list {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pos > a:hover {
  color: var(--color-primary);
}

.navBar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  cursor: pointer;
}

.navBar_img > img {
  height: 85px;
  width: 85px;
}

@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: row;
  }

  .navBar .list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .pos:nth-of-type(2) {
    order: -1;
  }

  .pos:nth-of-type(3) {
    order: -1;
  }

  .pos:nth-of-type(4) {
    order: -1;
  }

  .pos:nth-of-type(5) {
    order: -1;
  }
}

/* Media Object */

.menu {
  padding: 3.5rem;
  gap: 2rem;
}

.mediaHeading,
.mediaPrice {
  color: var(--color-primary);
  font-weight: 700;
  margin: 1.5rem;
}

.media_object {
  justify-items: center;
  margin-top: 3rem;
}

.media_content {
  text-align: center;
  margin: 0 1rem;
  color: var(--color-secondary);
}

.mediaImg > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu {
    gap: 2rem;
    padding: 2rem 4rem;
  }

  .mediaHeading,
  .mediaPrice {
    margin: 0.5rem 1rem 0.5rem 0;
  }

  .media_content {
    text-align: start;
    margin-left: 0.2rem;
  }

  .media_content > p {
    margin: 1rem 0;
  }
  .media_object {
    justify-items: start;
    margin: 3rem 1rem;
  }
}

/* About Us */

.aboutUs {
  justify-items: center;
  text-align: center;
  padding: 6rem;
}

.aboutUs_img > img {
  width: 100%;
  display: block;
}

.aboutUs_content {
  margin: 0 0.8rem;
  font-size: 4vw;
}

.aboutUsHeading {
  margin-bottom: 0;
  font-size: 6vw;
}

.aboutUs_content > p {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .aboutUs {
    gap: 1.6rem;
    text-align: start;
    align-items: center;
    padding: 7rem;
  }

  .aboutUs_content {
    align-self: center;
    margin: 0;
    font-size: 2.5vw;
  }

  .aboutUsHeading {
    font-size: 4vw;
  }
}

@media screen and (min-width: 1140px) {
  .aboutUs {
    padding: 10rem;
  }
}

/* Gallery */
.gallery {
  text-align: center;
  padding: 2.5rem;
}

.gallery_heading {
  margin: 0 0 2rem 0;
  color: var(--color-secondary);
}

.gallery_img > img {
  width: 100%;
  display: block;
}

.galleryAlbum {
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 6rem;
  }

  .gallery_img {
    display: flex;
    justify-content: center;
  }

  .gallery_heading {
    margin-bottom: 3rem;
  }

  .galleryAlbum {
    row-gap: 4.5rem;
  }
  .gallery_img > img {
    width: 80%;
  }
}

/* Testimonial */

.testimonial_back {
  background: url("../images/meal\ 12@1x.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_box {
  border: 6px solid var(--color-primary);
  background-color: rgba(31, 31, 38, 0.8);
  filter: opacity(92%);
  height: 40%;
  max-width: 80%;
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3.2vmax;
}

.testimonial_heading,
.testimonial_content {
  text-align: center;
  margin: 0;
  color: var(--color-secondary);
}

@media screen and (min-width: 425px) {
  .testimonial_back {
    background: url("../images/meal12@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .testimonial_box {
    border: 8px solid var(--color-primary);
    max-width: 78%;
    padding: 1.5rem;
    margin: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial_box {
    max-width: 52%;
    padding: 1.9rem;
    margin: 9rem;
  }
}

@media screen and (min-width: 1140px) {
  .testimonial_back {
    background: url("../images/meal\ 12.jpg") no-repeat center center;
    background-size: cover;
  }

  .testimonial_box {
    border: 10px solid var(--color-primary);
    max-width: 50%;
    padding: 3.2rem;
    margin: 14rem;
  }
}

/* Hero */

.hero {
  /* background: url("../images/meal1background@3x.jpg") no-repeat center center;
  background-color: rgba(25, 24, 24, 1);
  background-blend-mode: overlay;
  background-size: cover; */
  padding: 5rem 0;
  gap: 1rem;
}

.hero_img > img {
  width: 100%;
  padding: 1rem 1.5rem;
  display: block;
}

.hero_content {
  padding: 0 1rem;
  text-align: center;
}

.hero_content > h1 {
  margin: 0;
  font-weight: 800;
  font-size: 56px;
  line-height: 7.5rem;
  color: var(--color-primary);
}

.hero_content > p {
  margin: 1rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.hero_content > a {
  display: inline-block;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .hero {
    align-items: center;
    gap: 0;
    padding: 6rem 0;
  }

  .hero_content {
    text-align: left;
  }

  .hero_content > h1 {
    line-height: 5.5rem;
    white-space: nowrap;
  }

  .hero_content > p {
    margin: 0;
    width: 95%;
    line-height: 2.9rem;
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    padding: 10rem 0;
  }

  .hero_content {
    padding-left: 4rem;
  }

  .hero_content > h1 {
    line-height: 7rem;
    font-size: 70px;
  }
  .hero_content > p {
    margin: 0.5rem 0;
    width: 85%;
    line-height: 3.4rem;
  }
}

/* Footer-Card */

.footer_card {
  background: var(--color-primary);
  /* margin: 6rem 0; */
}

.footer_card_img > img {
  display: none;
}

.footer_card_content > h1,
.footer_card_content > p {
  margin: 0;
  text-align: center;
  color: var(--color-secondary);
}

.footer_card_content {
  padding: 2.7rem;
}

@media screen and (min-width: 768px) {
  .footer_card {
    display: flex;
    align-items: center;
    position: relative;
    margin: 5rem 0;
  }

  .footer_card_img > img {
    width: 45%;
    display: inline-block;
    position: absolute;
    left: -1%;
    bottom: -11%;
  }

  .footer_card_content {
    margin-left: 42%;
  }

  .footer_card_content > h1,
  .footer_card_content > p {
    text-align: left;
    padding: 0 5%;
  }
}

@media screen and (min-width: 1140px) {
  .footer_card {
    margin: 10rem 0;
  }

  .footer_card_img > img {
    bottom: -16%;
  }

  .footer_card_content {
    padding: 4rem;
  }

  .footer_card_content > h1 {
    font-size: 65px;
  }
  .footer_card_content > p {
    font-size: 34px;
  }
}

@media screen and (min-width: 1535px) {
  .footer_card {
    margin: 15rem 0;
  }

  .footer_card_img > img {
    bottom: -40%;
    width: 40%;
  }
}

/* Curve */

.curve {
  overflow: hidden;
  position: relative;
}

.curve > img {
  width: 100%;
}

.curve_content > h2,
.curve_content > p {
  margin: 0;
}

.curve_content {
  font-size: 3.5vw;
  padding-right: 14rem;
  position: absolute;
  top: 15%;
  left: 10%;
  color: var(--color-secondary);
}

.img_top > img,
.img_mid > img,
.img_bottom > img {
  width: 100%;
}

.img_top {
  position: absolute;
  top: 0%;
  right: -21%;
  width: 49%;
}

.img_mid {
  position: absolute;
  width: 63%;
  top: 37.3%;
  right: 0%;
  transform: rotate(35deg);
}

.img_bottom {
  position: absolute;
  width: 41%;
  top: 58.8%;
  left: -5%;
}

@media screen and (min-width: 425px) {
  .curve_content {
    padding-right: 19rem;
    top: 15%;
    left: 8%;
  }
  .img_bottom {
    top: 59.5%;
  }
}

@media screen and (min-width: 768px) {
  .curve_content {
    padding-right: 36rem;
    left: 9%;
  }
  .img_bottom {
    top: 60.3%;
  }

  .img_mid {
    top: 37.7%;
  }
}

@media screen and (min-width: 1024px) {
  .curve_content {
    padding-right: 45rem;
  }

  .img_bottom {
    top: 60.6%;
  }

  .img_mid {
    top: 37.9%;
  }
}

@media screen and (min-width: 1440px) {
  .curve_content {
    padding-right: 70rem;
    top: 17%;
    left: 7%;
  }

  .img_bottom {
    top: 61%;
  }

  .img_mid {
    top: 38.1%;
  }
}

/* Footer */

.footer_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_img > img {
  width: 70%;
  margin: 3rem 1rem;
}

.footer_menu_opt {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.footer_menu_opt > li {
  text-transform: uppercase;
  font-size: 2rem;
}

.footer_menu_opt > li > a:hover {
  color: var(--color-primary);
}

.social_logo {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  margin-bottom: 0;
}

.social_logo > li {
  display: flex;
  flex-direction: column;
}

.social_logo > li > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer_menu_opt {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer_img > img {
    width: 38%;
  }
}

/* Block */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* heroBlock */

.block--hero {
  background: url("../images/meal1background@3x.jpg") no-repeat center center;
  background-color: rgba(25, 24, 24, 1);
  background-blend-mode: overlay;
  background-size: cover;
  padding-bottom: 10rem;
}

/* aboutUsBlock */

.block--aboutUs {
  background-color: #1d1d23;
  color: var(--color-secondary);
}

/* curveBlock */

.block--curve {
  background-color: #1d1d23;
  padding: 2.8rem 0;
}

@media screen and (min-width: 768px) {
  .block--curve {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 1140px) {
  .block--curve {
    padding: 7rem 0;
  }
}

/* galleryBlock */

.block--gallery {
  background-color: #1d1d23;
}

/* mediaBlock */

.block--media {
  background-color: #1d1d23;
}

/* footerBlock */

.block--footer {
  background-color: #35353b;
  padding: 4rem 0;
}
