:root {
  --color-primary: #e58f00;
  --color-secondary: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-secondary);
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 3rem;
  outline: 0;
  padding: 1rem 3.7rem;
  white-space: nowrap;
}

.btn:hover {
  background: #d38200;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

.a {
  /* color: #000; */
}

/* navBar */

.navBar {
  background-color: #000;
  margin-top: 2rem;
}

.navBar .list {
  text-align: center;
}

.navBar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar_img > img {
  height: 90px;
  width: 90px;
}
