:root {
  --color-primary: #e58f00;
  --color-secondary: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  /* color: var(--color-secondary); */
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 3rem;
  outline: 0;
  padding: 1rem 3.7rem;
  white-space: nowrap;
}

.btn:hover {
  background: #d38200;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 320px) {
  .grid--1x2x3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--1x2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
}

/* navBar */

.navBar {
  background-color: #000;
  padding: 1rem 0;
  line-height: 2;
}

.navBar .list {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navBar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  cursor: pointer;
}

.navBar_img > img {
  height: 85px;
  width: 85px;
}

@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: row;
  }

  .navBar .list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .pos:nth-of-type(2) {
    order: -1;
  }

  .pos:nth-of-type(3) {
    order: -1;
  }

  .pos:nth-of-type(4) {
    order: -1;
  }

  .pos:nth-of-type(5) {
    order: -1;
  }
}

/* Media Object */
.mediaHeading,
.mediaPrice {
  color: var(--color-primary);
  font-weight: 700;
  margin: 1.5rem;
  margin-left: 0;
}

.media_object {
  justify-items: center;
  margin-top: 3rem;
}

.media_content {
  text-align: center;
  margin: 0 1rem;
}

.mediaImg > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .media_content {
    text-align: start;
    margin-left: 0.2rem;
  }
  .media_object {
    justify-items: start;
    margin: 3rem 1rem;
  }
}

/* About Us */

.aboutUs {
  justify-items: center;
  text-align: center;
  margin-top: 2rem;
}

.aboutUs_img > img {
  width: 100%;
  display: block;
}

.aboutUs_content {
  margin: 0 0.8rem;
}

.aboutUsHeading {
  margin-bottom: 0;
}
.aboutUs_content > p {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .aboutUs {
    gap: 1.4rem;
    text-align: start;
  }

  .aboutUs_content {
    align-self: center;
  }
}

/* Gallery */
.gallery {
  text-align: center;
  margin: 1rem;
}

.gallery_heading {
  margin-bottom: 1.5rem;
}

.gallery_img > img {
  width: 100%;
  display: block;
}

.galleryAlbum {
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery_img {
    display: flex;
    justify-content: center;
  }
  .galleryAlbum {
    gap: 1rem;
  }
  .gallery_img > img {
    width: 80%;
  }
}

/* Testimonial */

.testimonial_back {
  background: url("../images/meal\ 12@1x.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_box {
  border: 6px solid var(--color-primary);
  background-color: rgba(31, 31, 38, 0.8);
  filter: opacity(92%);
  height: 40%;
  max-width: 80%;
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3.2vmax;
}

.testimonial_heading,
.testimonial_content {
  text-align: center;
  margin: 0;
  color: var(--color-secondary);
}

@media screen and (min-width: 425px) {
  .testimonial_back {
    background: url("../images/meal12@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  .testimonial_box {
    border: 8px solid var(--color-primary);
    max-width: 78%;
    padding: 1.5rem;
    margin: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial_box {
    max-width: 52%;
    padding: 1.9rem;
    margin: 9rem;
  }
}

@media screen and (min-width: 1140px) {
  .testimonial_back {
    background: url("../images/meal\ 12.jpg") no-repeat center center;
    background-size: cover;
  }

  .testimonial_box {
    border: 10px solid var(--color-primary);
    max-width: 50%;
    padding: 3.2rem;
    margin: 14rem;
  }
}

/* Hero */

.hero {
  background: url("../images/meal1background@3x.jpg") no-repeat center center;
  background-color: rgba(25, 24, 24, 1);
  background-blend-mode: overlay;
  background-size: cover;
  padding: 5rem 0;
  gap: 1rem;
}

.hero_img > img {
  width: 100%;
  padding: 1rem 1.5rem;
  display: block;
}

.hero_content {
  padding: 0 1rem;
  text-align: center;
}

.hero_content > h1 {
  margin: 0;
  font-weight: 800;
  font-size: 56px;
  line-height: 7.5rem;
  color: var(--color-primary);
}

.hero_content > p {
  margin: 1rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.hero_content > a {
  display: inline-block;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .hero {
    align-items: center;
    gap: 0;
    padding: 6rem 0;
  }

  .hero_content {
    text-align: left;
  }

  .hero_content > h1 {
    line-height: 5.5rem;
    white-space: nowrap;
  }

  .hero_content > p {
    margin: 0;
    width: 95%;
    line-height: 2.9rem;
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    padding: 10rem 0;
  }

  .hero_content {
    padding-left: 4rem;
  }

  .hero_content > h1 {
    line-height: 7rem;
    font-size: 70px;
  }
  .hero_content > p {
    margin: 0.5rem 0;
    width: 85%;
    line-height: 3.4rem;
  }
}
