<section class="block--gallery">
  <div class="gallery">
    <h2 class="gallery_heading">Our Food Gallery</h2>
    <div class="grid grid--1x2x3 galleryAlbum">
      <picture class="gallery_img"
        ><img src="./images/meal 6.jpg" alt=""
      /></picture>
      <picture class="gallery_img"
        ><img src="./images/meal 7.jpg" alt=""
      /></picture>
      <picture class="gallery_img"
        ><img src="./images/meal 8.jpg" alt=""
      /></picture>
      <picture class="gallery_img"
        ><img src="./images/meal 9.jpg" alt=""
      /></picture>
      <picture class="gallery_img"
        ><img src="./images/meal 10.jpg" alt=""
      /></picture>
      <picture class="gallery_img"
        ><img src="./images/meal 11.jpg" alt=""
      /></picture>
    </div>
  </div>
</section>
