<section class="block--aboutUs">
  <div class="aboutUs grid grid--1x2">
    <picture class="aboutUs_img">
      <img src="./images/meal2@1x.jpg" alt="" />
    </picture>
    <div class="aboutUs_content">
      <h3 class="aboutUsHeading">About Us</h3>
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam velit,
        distinctio voluptatibus illum dolores at praesentium. Laboriosam rem
        nesciunt earum ipsam culpa. Voluptatem iste atque aliquam libero eveniet
        laudantium ducimus.
      </p>
    </div>
  </div>
</section>
