<section class="block--media">
  <div class="menu grid grid--1x3">
    <div class="media_object grid">
      <picture class="mediaImg">
        <img src="./images/meal 13.jpg" alt="" />
      </picture>
      <div class="media_content">
        <h3 class="mediaHeading">Italian Source Mushroom</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          enim, incidunt harum id ipsa, ea pariatur.
        </p>
        <h3 class="mediaPrice">Price: $12.00</h3>
      </div>
    </div>
    <div class="media_object grid">
      <picture class="mediaImg">
        <img src="./images/meal 14.jpg" alt="" />
      </picture>
      <div class="media_content">
        <h3 class="mediaHeading">Italian Source Mushroom</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          enim, incidunt harum id ipsa, ea pariatur.
        </p>
        <h3 class="mediaPrice">Price: $12.00</h3>
      </div>
    </div>
    <div class="media_object grid">
      <picture class="mediaImg">
        <img src="./images/meal 15.jpg" alt="" />
      </picture>
      <div class="media_content">
        <h3 class="mediaHeading">Italian Source Mushroom</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          enim, incidunt harum id ipsa, ea pariatur.
        </p>
        <h3 class="mediaPrice">Price: $12.00</h3>
      </div>
    </div>
  </div>
</section>
