<div class="curve">
  <img class="wave" src="./images/wave.png" alt="" />
  <div class="curve_content">
    <h2>Our Food Quality</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
      laboriosam nostrum natus odit quam fuga temporibus nihil, error tenetur
      animi.
    </p>
  </div>
  <div class="img_top">
    <img src="./images/meal 3@1x.png" alt="" />
  </div>
  <div class="img_mid">
    <img src="./images/meal 4@1x.png" alt="" />
  </div>
  <div class="img_bottom">
    <img src="./images/meal 5 & 16@1x.png" alt="" />
  </div>
</div>
