<section class="container block--footer">
  <div class="footer">
    <span class="footer_img"
      ><img src="./images/logo_footer.png" alt=""
    /></span>
    <div class="footer_menu">
      <ul class="footer_menu_opt list">
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Foods</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Location</a></li>
      </ul>
    </div>
    <div class="footer_social">
      <ul class="social_logo list">
        <li><img src="./images/facebook.png" alt="" /></li>
        <li><img src="./images/twitter.png" alt="" /></li>
        <li><img src="./images/instagram.png" alt="" /></li>
        <li><img src="./images/pinterest.png" alt="" /></li>
      </ul>
    </div>
  </div>
</section>
