<div class="navBar">
  <ul class="list grid grid--1x8">
    <li class="pos">
      <a class="navBar_img" href=""><img src="./images/logo.png" alt="" /></a>
    </li>
    <li class="pos"><a href="">Home</a></li>
    <li class="pos"><a href="">About</a></li>
    <li class="pos"><a href="">Menus</a></li>
    <li class="pos"><a href="">Offers</a></li>
    <li class="pos"><a href="">Gallery</a></li>
    <li class="pos"><a href="">Contact</a></li>
    <li class="pos"><a href="">Blog</a></li>
  </ul>
</div>
